{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/data.priority-map {:mvn/version "1.0.0"}
        criterium/criterium {:mvn/version "0.4.6"}}
 :aliases
 {:dev {:extra-paths ["dev/src" "test"]
        :extra-deps {juxt/clip {:mvn/version "0.23.0"}
                     org.clojure/tools.namespace {:mvn/version "1.1.0"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "e7660458ce25bc4acb4ccc3e2415aae0a4907198"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "shun-tools.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "shun-tools.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "shun-tools.jar"}}}}
